* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sans-serif;
}

header {
    padding: 20px 35px 20px 35px;
    background-color: #fff;
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: black;
    margin: 0 0 50px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 50px;
    font-weight: lighter;
    font-size: 16px
}

.about-me {
    background-image: url(./images/portfoliopic.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: fit-content;
}

.about-me h2 {
    color: black;
    font-size: 30px;
    font-weight: lighter;
    width: 40%;
    text-align: center;
    padding: 100px 0 20px 50px;
}

.about-me p {
    color:black;
    text-align: left;
    text-align: justify;
    font-weight: lighter;
    width: 40%;
    font-size: 16px;
    padding: 0 0 30px 50px;
}

.portfolio, .contact, header {
    text-align: center;
}

.portfolio h2, .contact h2, header h1{
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 35px;
    padding: 25px 100px 20px 100px;
    border-bottom: 2px solid;
    border-color: black;
    display: inline-block;
}

.run-buddy a {
    display: inline-block;
}

.run-buddy img {
    height: 175px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.column-1, .column-2 {
    flex: 50%;
    padding: 0 4px;
}
.column-1 img, .column-2 img {
    margin-top: 8px;
    vertical-align: middle;
    height: 200px;
    width: 350px;
}
.contact-info {
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
    margin-bottom: 50px;
}
.contact-info a {
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 980px) {
    body {
        width: fit-content;
    }
    .about-me h2 {
        text-align: center;
        font-weight: lighter;
        font-size: 30px;
        margin-bottom: 35px;
        padding: 25px 100px 20px 100px;
        border-bottom: 2px solid;
        border-color: black;
        display:block;
        width: fit-content;
        margin-left: 325px;
        }
    .about-me p {
        text-align: center;
        width: fit-content;
        padding: 250px 20px 0 20px;
        font-size: 25px;
        text-shadow: 0 0 20px #fff;
    }
}
@media screen and (max-width: 768px) {
    header {
        width: fit-content;
    }
    .column-1, .column-2 {
        flex-wrap: wrap;
    }
}