body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.about-me {
    background-image: url(./images/portfoliopic.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: fit-content;
}
.about-me h2 {
    color: black;
    font-size: 40px;
    padding: 50px 0 20px 50px;
}
.about-me p {
    color: black;
    text-align: left;
    text-align: justify;
    width: 40%;
    font-size: 20px;
    padding: 0 0 30px 50px;
}